<div class="group relative rounded-sm overflow-hidden w-lg h-auto cursor-pointer">
    <img src={{src}} class="w-full h-full object-cover transition-transform duration-500 ease-out group-hover:scale-110" />

    <div class="absolute top-4 left-4 tracking-tight font-stretch text-2xl w-max text-white mix-blend-difference flex">
        <span class="relative inline-block overflow-hidden"><span class="inline-block transition-transform duration-300 ease-out group-hover:-translate-y-full after:content-[attr(data-letter)] after:absolute after:top-full after:left-0" data-letter="K" style="transition-delay: 0ms;">K</span></span>
        <span class="relative inline-block overflow-hidden"><span class="inline-block transition-transform duration-300 ease-out group-hover:-translate-y-full after:content-[attr(data-letter)] after:absolute after:top-full after:left-0" data-letter="O" style="transition-delay: 20ms;">O</span></span>
        <span class="relative inline-block overflow-hidden"><span class="inline-block transition-transform duration-300 ease-out group-hover:-translate-y-full after:content-[attr(data-letter)] after:absolute after:top-full after:left-0" data-letter="R" style="transition-delay: 40ms;">R</span></span>
        <span class="relative inline-block overflow-hidden"><span class="inline-block transition-transform duration-300 ease-out group-hover:-translate-y-full after:content-[attr(data-letter)] after:absolute after:top-full after:left-0" data-letter="E" style="transition-delay: 60ms;">E</span></span>
    </div>

    <div class="absolute bottom-4 right-4 w-6 h-6 bg-F z-10"></div>
</div>
